.nav1{
    background-color:orangered;
    color: white;
    padding-top: 5px;
    padding-right: 120px;
    padding-bottom: -10px;
}

.nav2{
    padding-left: 300px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.a3{
    width: 1200px;
    height: 550px;
}
.nav3{
    position: absolute;
    left: 1150px;
}
.a4{
    position: absolute;
    left: -950px
}
.a5{
    position: absolute;
    left: 240px;
    top: 770px;
    width: 570px;
    
}
.a6{
    color:chocolate;
    padding-top: 10px;
}
.b1{
    padding-top: 10px;
    padding-right: 420px;
    padding-left: 220px;
}
.b4{
    padding-top: 10px;
}
.b3{
    padding-bottom: 30px;
}
.b0{
    background-image:url(i3.jpg) ;
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
}
.c1{
    border-radius: 25px;
    background-color:deepskyblue;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
}
.b1 input{
    border-radius: 20px;
    border: none;
    width: 400px;
}
.g1{
    color: white;
}

.n2{
    background-color: aliceblue;
    width: 30px;
    color: black;
    text-align: center;
    padding: -300px;
    height: 100px;
}

.z3{
    text-align: center;
}
.h3{
    text-align: center;
    display: flex;
}
.h3 img{
    width: 400px;
    height: 400px;
}
.h4{
    list-style: none;
}
.h5{
    color: aliceblue;
    background-color: black;
}
.head4{
    padding-top: 30px;
}
.h6{
    padding-bottom: 80px;
}
.head3{
    padding-bottom: 30px;
}
.li5{
    color: rgb(80, 88, 88);
    padding: 10px;
    font-size: medium;
}
.v1{
    padding: 80px;
}
.x1{
    display:flex;
}