
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Permanent+Marker&display=swap');



.navbar {
        background-color: rgba(0, 0, 0, 0) !important;
        transition-property: background-color, color;
        transition-duration: 0.6s;
        /*transition-function: ease-in-out; */
      }
      
      .navbar-dark {
        background-color: rgb(5, 9, 22) !important;
        color: #ffffff !important;
      }
      
      .navbar-collapse,
      .navbar-nav,
      .nav-item {
        color: inherit !important;
      }

.h1{
    font-family: 'Oswald', sans-serif;
    color: rgb(206, 129, 47);
}
.a5{
    color: rgb(206, 129, 47);
    text-decoration: none;
}
.a5:hover{
    text-decoration: underline;
}
.x5{
    color: rgb(206, 129, 47);
}
.s5{
    background-color: rgb(206, 129, 47);
    color:rgb(206, 129, 47) ;
}
.a50{
    color: rgb(206, 129, 47);
    border: 1px solid rgb(206, 129, 47);
    padding: 10px 25px;

}
.a50:hover{
    color: white;
    background-color: rgb(206, 129, 47);
    padding: 10px 25px;
    transition: 0.7s;
}
.a51{
    color: rgb(206, 129, 47);
    border: 1px solid rgb(206, 129, 47);
    padding: 10px 25px;
    margin-right: 920px;
    margin-top: 20px;
}
.a51:hover{
    color: white;
    background-color: rgb(206, 129, 47);
    padding: 10px 25px;
    transition: 0.4s;
    padding-top: 20px;
    padding-bottom: 20px;
}
.a1{
    position: relative;
    left: 280px;

}
.a2{
    position: relative;
    left: 540px;

}
.a3{
    font-size:80px;
    margin-left:320px;
    padding-top: 240px;
    padding-bottom: 440px;
}
.a4{
    background-image: url(i1.jpg);
    color: aliceblue;
}
.a6{
    position: relative;
    left: -550px;
}
.b4{
    background-color: rgb(16, 23, 43);
    color: aliceblue;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: left;
    padding-left: 360px;
    padding-right: 360px;
    font-size: 120%;
}
.b5{
    padding-top: 70px;
}
.b6{
    padding-top:160px;
    padding-bottom: 160px;
    background-color: rgb(5, 9, 22);
    color: aliceblue;
}
.b7{
    padding-top: 8px;
}
.b8{
    text-align: center;
    border: 1px solid rgb(26, 40, 77);
    padding:30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
}
.b9{
    margin-left: 360px;
    margin-right:360px ;
}
.b10{
    padding-top: 40px;
}
.b11{
    background-color: rgb(16, 23, 43);
    color: aliceblue;
    padding-top: 160px;
    padding-bottom: 160px;
}
.b12{
    padding-left: 420px;
    padding-right: 420px;
}
.b13{
    padding:20px;
}
.b14{
    padding-top: 40px;
}
.b15{
    padding-top: 90px;
}
.b16{
    font-size:x-large;
}
.b17{
    border-radius: 50%;
    background: none;
    border-color: rgb(206, 129, 47);
    padding: 10px;
    color: rgb(206, 129, 47);
    display: flex;
}
.b17:hover{
    background-color:  rgb(206, 129, 47);
    transition: 0.5s;
}
.b18{
    display: flex;
    margin-left: 470px;
}



