.a1{
    display: flex;
    background-color: rgb(12, 12, 29);
    color: aliceblue;
}
.b1{
    height: 600px;
}
.b2{
    border-radius: 50% 1px solid black;
}
.b4{
    list-style-type: none;
}
.a2{
    text-align: center;
}
.x1{
    text-align: center;
}
.y1{
    border-radius:50%;
    width: 300px;
}
.y2{
    width:350px;
}
.z1{
    background-color: rgb(238, 244, 250);
}
.z2{
    background-color: aliceblue;
    text-align: center;
    padding: auto;
}
.z3{
    background-color: rgb(219, 10, 10);
}
.z4{
    background-color:#212936;
    color: rgb(201, 202, 204);
}
.z5{
    color: rgb(107, 169, 107);
}
.z6{
    background-color:#1d242f;
    color: rgb(201, 202, 204);
}
.a3{
    color: rgb(229, 229, 34);
}
.a4{
    padding-top: 60px;
    padding-bottom: 60px;
}
.b9{
    padding-top: 10px;
}
.b10{
    padding-bottom: 60px;
}
.m1{
    
}