.a1{
    display: flex;
    background-color: rgb(12, 12, 29);
    color: aliceblue;
}
.b1{
    height: 600px;
}
.a2{
    text-align: center;
}
.x1{
    text-align: center;
}
.y1{
    border-radius:50%;
    width: 250px;
}
.y2{
    width:350px;
}
.z1{
    background-color: rgb(238, 244, 250);
}
.z2{
    background-color: aliceblue;
    text-align: center;
    padding: auto;
}
.z3{
    background-color: rgb(219, 10, 10);
}
.z4{
    background-color: rgb(21, 30, 35);
    color: rgb(201, 202, 204);
}
.z5{
    color: rgb(107, 169, 107);
}