
.a1{
    width: 80px;
    height: 30px;
}
.a2{
    display: flex;
    float: right;
}
.a3{
    width: 100px;
}
.a4{
    font-size:12px;
}
.a5{
    font-size: 11px;
    margin-left: 18px;
    margin-bottom: -0.5px;
}
.a7{
    font-size: 15px;
    display: flex;
    margin-bottom: -1px;
}
.a8{
    width: 220px;
}